
<div class="full-screen-div" style="z-index: 1035">
			<%= link_to 'X', profile_path(current_user), class: 'pull-right x-back' %>
			<br />
			<br />
			<br />
			<h1 class="text-center">New message</h1>
			<div>
				<%= render 'form' %>
			</div>

			
</div>
