// Place all the styles related to the clock controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#clock {
	font-size: 2.3em;
}

.navbar .brand {

	padding: 10px 5px;
	margin: 0;
	margin-left: -15px;
}